# SPDX-FileCopyrightText: 2023 Eli Array Minkoff
#
# SPDX-License-Identifier: CC0-1.0

# Exclude everything by default
*
# include contents of the LICENSES and .reuse directories needed for REUSE compliance
!/LICENSES/*
!/.reuse/*
# include .license files for REUSE compliance
!*.license
# include folders in the top level but not their contents, otherwise git won't search them even for included files
!/*/
# Include Markdown
!*.md
# Include colortest.* in subdirectories but not the root directory of the repository
!colortest.*
/colortest.*
# Include the colortest output file and screenshot
!colortest_output
!colortest_output.png
# Include gitignore files (including this one)
!.gitignore
