# SPDX-FileCopyrightText: 2023-2024 Eli Array Minkoff
#
# SPDX-License-Identifier: CC0-1.0

# Exclude everything by default
*
# include contents of the LICENSES  directory and REUSE.toml file for REUSE compliance
!/LICENSES/*
!REUSE.toml
# include .license files for REUSE compliance
!*.license
# include folders in the top level but not their contents
# without this, git won't search them even for included files
!/*/
# Include Markdown
!*.md
# Include colortest.* in subdirectories but not the root of the repo
!colortest.*
/colortest.*
# Include the colortest output file and screenshot
!colortest_output
!colortest_output.png
# Include gitignore files (including this one)
!.gitignore
# Include the Containerfile and .test_assets contents used for testing
!Containerfile
!.test_assets/*
